/**
 * @name Anebix Main CSS
 * @description All of the CSS ever needed, all in one package.
 * @author Anebix
 * @authorId 1249116126139519009
 * @source https://github.com/anebix0/discord-css
 * @version 0.0.1
 * @website https://github.com/anebix0
 * @invite vpQtzES4sn
 * @tags theme, custom
 */
/* Custom and hosted CSS snippets */
@import url("https://anebix0.github.io/discord-css/css/toggleable/add-textbar-nopermshake.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-attachments-modernizeaudio.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-channels-animvcicon.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-channels-muteemoji.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-channels-statususernameboth.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-channels-unreadpill.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-channels-visiblescrollbanner.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-emoji-handgun.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-mesages-menubarup.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-messages-detailedtimestamps.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-messages-forumimprovements.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-textbar-appmerge.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-toolbar-bearableinbox.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-ui-deletelogoutred.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-channels-closedmx.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-channels-invitebutton.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-members-modviewhidedisabled.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-textbar-buttons.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-ui-nitro.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/change-servers-icons.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/add-ui-rolecolorbg.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-channels-searchbar.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-toolbar-help.css");
@import url("https://anebix0.github.io/discord-css/css/toggleable/hide-toolbar-icons.css");
/* External (usually forked) snippets */
/* @import url("https://anebix0.github.io/DaBluLite_css-snippets/ConsistentChatbar/import.css"); */
@import url("https://anebix0.github.io/nvhhr-discordcss/snippets/randomfixes.theme.css");

/* And silly annoyances */

/* like whatever the stupid divider is doing over on the right when on the friends tab */
.divider_fc4f04 {
  display: none;
}
/* Hiding channel scrollbar cuz honestly nobody needs it */
#channels {
    scrollbar-width: none;
}
/* And remove weird server banner shadow gradient */
[class*=bannerImage]:before{
   display: none
}
