/**
 * @name Show Folder Names
 * @description [Hosted] Show names of folders in server sidebar.
 * @author Anebix, rej
 * @authorId 1249116126139519009, 166877019924201474
 * @source https://github.com/anebix0/discord-css
 * @version 0.0.1
 * @website https://github.com/anebix0
 * @invite vpQtzES4sn
 * @tags snippet, server, folder, names
 */
/*show folder names by ddyo#9254*/
[data-list-id=guildsnav]
[class*=expandedFolderBackground]+[class*=listItem]
[data-dnd-name][draggable] {
    margin: 0 auto;
}
[data-list-id=guildsnav]
[class*=expandedFolderBackground]+[class*=listItem]
[data-dnd-name][draggable] div:only-child {
    margin: 0 auto;
}
[data-list-id=guildsnav]
[class*=expandedFolderBackground]+[class*=listItem]
[data-dnd-name][draggable]:before {
    content: attr(data-dnd-name);
    color: #fff;
    z-index:1;
    font-weight: bold;
    font-size:14px;
    display: block;
    margin: 0 auto;
    min-width:100%;
    padding-top: 10px;
    margin-bottom: 2px;
    text-align: center;
}
