/**
 * @name [Hosted] User Area Redesign
 * @description Allows you to see your name and status by stacking buttons and username sections.
 * @author Anebix, julienraptor01
 * @authorId 1249116126139519009, 369179216031383552
 * @source https://github.com/anebix-world/discord-css
 * @version 0.0.1
 * @website https://github.com/anebix-world
 * @invite vpQtzES4sn
 * @tags snippet, channels, user, profile, redesign
 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1271232889081565317 */
[class^=panels] > [class^=container] /* User area redesign */
{
    height: unset !important; /* Height being dynamic is fine */
    align-items: unset !important; /* Don't need that */
    padding: 6px 8px !important; /* Let those boxes breathe */
    flex-direction: column-reverse !important; /* instead of going one next to the other, go stacked */
    gap: 2px !important; /* Again let them breathe */
}

[class^=avatarWrapper] /* Change the user box */
{
    margin-right: unset !important; /* Useless */
    margin-left: unset !important; /* Useless */
    padding-left: 4px !important; /* Make it slightly bigger for consistency with the right side */
}

[class^=container] > [class*=buttons] /* Change the quick actions */
{
    justify-content: space-evenly !important; /* Let them breathe */
}
