/**
 * @name Hide Top Bar Other
 * @description Hide video, voice call, and add to GC icons from the toolbar.
 * @author Anebix
 * @authorId 1249116126139519009
 * @source https://github.com/anebix0/discord-css
 * @version 0.0.1
 * @website https://github.com/anebix0
 * @invite vpQtzES4sn
 * @tags snippet, simple, display-none. topbar, hide, call, gc
 */
div[aria-label="Start Voice Call"] { display: none !important; }
div[aria-label="Start Video Call"] { display: none !important; }
div[aria-label="Add Friends to DM"] { display: none !important; }
div[aria-label="Complete Quest"] { display: none !important; }
