/**
 * @name Hide Textbar Icons
 * @description Hide icons in textbar, including emoji, GIF, sticker, and gift buttons.
 * @author Anebix
 * @authorId 1249116126139519009
 * @source https://github.com/anebix-world/discord-css
 * @version 0.0.1
 * @website https://github.com/anebix-world
 * @invite vpQtzES4sn
 * @tags snippet, text, message, hosted, icon
 */
/* Hide Emoji Button*/
button[aria-label="Select emoji"]{ display: none; }
/* Hide GIF picker button */
button[aria-label="Open GIF picker"]{ display: none; }
/* Hide Gift button*/
button[aria-label="Send a gift"]{ display: none; }
/* Hide sticker picker button */
button[aria-label="Open sticker picker"]{ display: none; }
